@import url(https://fonts.googleapis.com/css?family=Aguafina+Script);
.middle-vertical{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.middle-vertical h1{
  font-size: 600%;
  font-family: 'Aguafina Script', cursive;
  text-decoration: underline;
}
